{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
    <br>
    <br>
    <div class="bg-dark text-secondary px-4 py-5 text-center my-3">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">{{ home_content.header_title }}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">{{ home_content.header_description }}</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="{% url 'allposts' %}" role="button">Visit Blog</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 my-1">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>{{ home_content.tut1_title|title }}</h2>
                    <p>{{ home_content.tut1_description }}</p>
                    <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="#" role="button">Go For {{ home_content.tut1_title }}</a>
                </div>
            </div>
            <div class="col-lg-5 my-1">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>{{ home_content.tut2_title|title }}</h2>
                    <p>{{ home_content.tut2_description }}</p>
                    <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="#" role="button">Go For {{ home_content.tut2_title }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-center">
                <img src="{{ home_content.middle_section_img.url }}" class="d-block mx-lg-auto img-fluid" alt="programmer" width="auto"
                loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">{{ home_content.middle_section_title|title }}</h1>
                <p class="lead">{{ home_content.middle_section_description }}</p>
            </div>
        </div>
    </div>

    <!-- counters starts -->
    <div class="container">
        <div class="row py-3 d-flex justify-content-center">
            <div class="col-lg-3 text-center bg-dark border border-warning text-white rounded-pill">
                <h4 class="text py-5"><i class="fa fa-pencil"></i> Authors - {{num_of_authors}}</h4>
            </div>
            <div class="col-lg-3 text-center border border-warning rounded-pill mx-2 my-2">
                <h4 class="text py-5"><i class="fa fa-book"></i> Articles - 12</h4>
            </div>
            <div class="col-lg-3 text-center border border-warning bg-dark text-white rounded-pill">
                <h4 class="text py-5"><i class="fa fa-eye"></i> Montly Visit - 5400</h4>
            </div>
        </div>  
    </div>
    <!--  counters ends -->

    <div class="container py-4">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 my-1">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>{{ home_content.tut3_title|title }}</h2>
                    <p>{{ home_content.tut3_description }}</p>
                    <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="{% url 'blog_as_category' 'linux' %}" role="button">Go For Linux Articles</a>
                </div>

            </div>
            <div class="col-lg-5 my-1">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>{{ home_content.tut4_title|title }}</h2>
                    <p>{{ home_content.tut4_description }}</p>
                    <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="{% url 'blog_as_category' 'windows' %}" role="button">Go For Windows Articles</a>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-dark text-secondary px-4 py-5 text-center mt-2">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">{{ home_content.social_sec_title|title }}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">{{ home_content.social_sec_description }}</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a class="btn btn-outline-info btn-lg btn-floating" href="{{ home_content.instagram_url }}" target = '_blank'
                        role="button"><i class="fa fa-instagram"></i></a>
                    <a class="btn btn-outline-warning btn-lg btn-floating" href="{{ home_content.github_url }}" target = '_blank'
                        role="button"><i class="fa fa-github"></i></a>

                    <a class="btn btn-outline-primary btn-lg btn-floating" href="{{ home_content.twitter_url }}" target = '_blank'
                        role="button"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

