{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Blog {% endblock title %}

{% block content %}

    <br>
    <br>
    <br>
    <br>
    <div class="container px-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-3 my-3">
                <form class="d-flex mx-4 shadow-lg">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><span><i class="fa fa-search"></i></span></button>
                </form>
                <hr>
                <h5 class="text-center">Categories</h5>
                <br>
                <ul class="list-group shadow-lg mx-4" title="categories">
                    {% for category in categories %}
                        <a href="{% url 'blog_as_category' category.slug %}" class="list-group-item customhov {% if category.slug in request.path %}customactive{% endif %}">{{ category.name }}</a>
                    {% endfor %}
                </ul>

            </div>
            <div class="col-lg-9 my-2">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for post in posts %}
                        
                        <div class="col">
                        
                            <div class="card shadow-lg h-100" href="{% url 'post_detail' post.slug %}">
                                <a href="{% url 'post_detail' post.slug %}" class="link-secondary">
                                    <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ post.title|title }}</h5>
                                            <p class="card-text">{{ post.content|truncatechars:"100"|safe }}</p>
                                            {% comment %} <a class='btn btn-outline-danger' href="{% url 'post_detail' post.slug %}">Get Post</a> {% endcomment %}
                                        </div>
                                    <div class="card-footer">
                                        <small class="text-muted">{{ post.created_date|naturaltime }}</small>
                                
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock content %}