{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Blog {% endblock title %}

{% block content %}


    <br>
    <div class="bg-dark text-secondary px-3 py-4 text-center my-2" id="blogheader">
        <div class="py-5">
            <h1 id="blog-title" class="display-5 fw-bold text-white">Blog</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4"></p>
            </div>
        </div>
    </div>
    <div class="container px-5">
        <div class="row d-flex justify-content-center ">

            <div class="col-lg-3 my-3 d-inline">
                <form action="{% url 'search' %}" class="d-flex" method="GET">
                    <input class="input-text form-control me-2" type="text" placeholder="Find on CTA" name="search">
                    <input class="btn btn-outline-warning" type="submit" value="Search">
                  </form>
                <hr>
                <div class="card">
                    <div class="card-header ">
                        <h5 class="text-start my-auto text-muted">Categories</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group shadow-lg list-group-flush rounded" id="category_list" title="categories">
                            {% for category in categories %}
                                <a href="{% url 'blog_as_category' category.slug %}" class="list-group-item {% if category.slug in request.path %}active{% endif %}">{{ category.name|title }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            
            <div class="col-lg-9 my-4">
                    {% if messages %}
                        {% for message in messages %}
                            <div id="message" class="alert alert-{{message.tags}}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for post in page_obj %}
                        
                        <div class="col d-flex justify-content-center">
                            
                            <div class="card" style="width: 18rem;">
                                <img src="{% if post.image %}{{ post.image.url }}{% endif %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{ post.title|title }}</h5>
                                  <a href="{% url 'post_detail' post.slug %}" class="btn btn-info btn-sm stretched-link float-end">Get Post</a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">{{ post.published_date|naturaltime }}</small>
                                    <small class="float-end">Author: {{ post.author|title }}</small>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}


                </div>
            </div>

            <div class="row my-4">
                <nav>
                    <ul class="pagination justify-content-end">
                        
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
                                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; </a></li>
                            {% endif %}
                    
                            <li class="page-item">
                                <a class="page-link active text-white"  href="?page={{ page_obj.number }}"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                            </li>
                    
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo; </a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last </a></li>
                            {% endif %}
                        
                    </ul>
                </nav>
            </div>


        </div>
    </div>

    
{% endblock content %}

{% block custom_script %}
    {% comment %} Change blog title if slected a category. {% endcomment %}
    
    if ($("a.list-group-item").is(".active")){
        var current_category = $("a.list-group-item.active").text();
        $("#blog-title").text("Blog - " + current_category);
        $(document).prop('title', "Blog - " + current_category + " | cta")
    }
{% endblock %}

