{% extends 'accounts/base_dashboard.html' %}

{% block title %} {{ post.title }}| Update {% endblock %}

{% block dashboard_content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <div class="mb-3 d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock  %}
