

<footer class="py-3 bg-dark">
  <div class="container ">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'home' %}"
          class="nav-link px-2 {% if request.path == '/' %}active{% else %}text-muted{% endif %}">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Terms</a></li>
      <li class="nav-item"><a href="{% url 'about' %}"
          class="nav-link px-2 {% if 'about' in request.path %}active{% else %}text-muted{% endif %}">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 cleantecharticles.com</p>
  </div>
</footer>