

<footer class="py-3 bg-dark">
  <div class="container ">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'home' %}"
          class="nav-link px-2 {% if request.path == '/' %}active{% else %}text-muted{% endif %}">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Terms</a></li>
      <li class="nav-item"><a href="{% url 'about' %}"
          class="nav-link px-2 {% if 'about' in request.path %}active{% else %}text-muted{% endif %}">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 cleantecharticles.com</p>
  </div>
</footer>


{% if not user.is_authenticated %}
  <!-- Login Form -->

  <div class="modal fade" id="loginForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Login Form -->
        <div>
          {% if messages %}

          {% for message in messages %}

              {% if message.tags == 'success'%}
                  <div id="msgsign" class="alert alert-{{message.tags}}">
                    {{message}}
                  </div> 
              {% elif message.tags == 'info' %}
                  <div id="msgsign" class="alert alert-{{message.tags}}">
                    {{message}}
                  </div> 
              {% endif %}
            {% endfor %}
          
          {% endif %}
        </div>
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="modal-header">
            
            <h5 class="modal-title">Sign in Form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" id="closesin" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="Username">Username<span class="text-danger">*</span></label>
              <input type="text" name="username" class="form-control" id="Username" placeholder="Enter Username">
            </div>

            <div class="mb-3">
              <label for="Password">Password<span class="text-danger">*</span></label>
              <input type="password" name="password" class="form-control" id="Password" placeholder="Enter Password">
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" name="remember_me" id="remember" checked>
              <label class="form-check-label" for="remember">Remember Me</label>
              <a href="#" class="float-end">Forgot Password</a>
            </div>
          </div>
          <div class="modal-footer pt-4">
            <button type="submit" class="btn btn-success mx-auto w-100">Sign in</button>
          </div>
          <p class="text-center">Not yet account, <strong id="goSignUp" style="color: blue; cursor: pointer;">Sign up</strong></p>
          <script>
            document.getElementById("goSignUp").addEventListener("click", fungoSignUp)

            function fungoSignUp(){
              document.getElementById("closesin").click()
              document.getElementById("signup").click()
            }
          </script>
        </form>
      </div>
    </div>
  </div>
  </div>


  <!-- Register Form-->
  <div class="modal fade" id="RegisterForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Register Form -->
        <div>
          {% if messages %}

            {% for message in messages %}
              {% if message.tags == 'error' %}
                  <div id="msgsignup" class="alert alert-danger">
                    {{message}}
                  </div> 
              {% endif %}
            {% endfor %}
          
          {% endif %}

        </div>

        <form action="{% url 'register' %}" method="POST">
          {% csrf_token %}
          <div class="modal-header">
            
            <h5 class="modal-title">Sing up Form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" id="closesup" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="upfirstname">First Name<span class="text-danger">*</span></label>
              <input type="text" name="firstname" class="form-control" id="upfirstname" required placeholder="Enter First Name">
            </div>
            <div class="mb-3">
              <label for="uplastname">Last Name<span class="text-danger">*</span></label>
              <input type="text" name="lastname" class="form-control" id="uplastname" required placeholder="Enter Last Name">
            </div>
            <div class="mb-3">
              <label for="upusername">Username<span class="text-danger">*</span></label>
              <input type="text" name="username" class="form-control" id="upusername" required placeholder="Enter Username">
            </div>
            <div class="mb-3">
              <label for="upemail">Email<span class="text-danger">*</span></label>
              <input type="email" name="email" class="form-control" id="upemail" required placeholder="Enter Your Email">
            </div>
            
            <div class="mb-3">
              <label for="uppassword">Password<span class="text-danger">*</span></label>
              <input type="password" name="password" class="form-control" id="uppassword" required placeholder="Enter Password">
            </div>
            <div class="mb-3">
              <label for="repassword">Password Again<span class="text-danger">*</span></label>
              <input type="password" name="repassword" class="form-control" id="repassword" required placeholder="Enter Password Again">
            </div>
          </div>
          <div class="modal-footer pt-4">
            <button type="submit" class="btn btn-primary mx-auto w-100">Sing Up</button>
          </div>
          <p class="text-center">Have an account, <strong id="goSignIn" style="color: blue; cursor: pointer;">Sign in</strong></p>
          <script>
            document.getElementById("goSignIn").addEventListener("click", fungoSignIn)

            function fungoSignIn(){
              document.getElementById("closesup").click()
              document.getElementById("signin").click()
            }
          </script>
        </form>
      </div>
    </div>
  </div>
{% endif %}